html {
  -webkit-tap-highlight-color: transparent;
  font-family: PingFang SC, Helvetica Neue, Helvetica, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  font-size: 14px;
  height: 100%;
}
body {
  box-sizing: border-box;
  position: relative;
  min-height: 100%;
}
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
pre {
  margin: 0;
}
ul,
ol,
dl {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
dd {
  margin-left: 0;
}
i,
em {
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5 {
  display: block;
  *display: block;
  *zoom: 1;
  font-weight: normal;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 14px;
}
h6 {
  font-size: 12px;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input,
textarea,
select,
button {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  *font-size: 100%;
  outline: none;
  border: 0;
  padding: 0;
}
input {
  background-color: transparent;
  -webkit-appearance: none;
}
textarea {
  resize: vertical;
}
img {
  border: 0;
  vertical-align: bottom;
}
a {
  cursor: pointer;
  text-decoration: none;
}
pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}
.headtop {
  height: 190px;
}
.headtop .user {
  height: 48px;
  background-color: #f4f4f4;
}
.user-1 {
  width: 980px;
  margin: 0 auto;
  *zoom: 1;
}
.user-1:after,
.user-1:before {
  content: "";
  display: table;
}
.user-1:after {
  clear: both;
}
.user-1 .userleft {
  float: left;
  font-size: 13px;
  color: #5d605f;
  line-height: 48px;
}
.user-1 .userleft .enter {
  margin-left: 25px;
  color: #016cb4;
  position: relative;
}
.user-1 .userleft .enter:before {
  content: "";
  background-image: url("../images/用户登录_03.gif");
  height: 13px;
  width: 13px;
  margin: -31px 0 0 198px;
  position: absolute;
  display: block;
}
.user-1 .userright {
  float: right;
  font-size: 13px;
  color: #939393;
  line-height: 48px;
}
.user-1 .userright .like {
  margin-left: 29px;
  color: #016cb4;
  position: relative;
}
.user-1 .userright .like:before {
  content: "";
  background-image: url("../images/立即申请_05.gif");
  height: 15px;
  width: 14px;
  position: absolute;
  margin: -31px 0 0 141px;
  display: inline-block;
}
.logonav {
  width: 980px;
  margin: 0 auto;
  *zoom: 1;
}
.logonav:after,
.logonav:before {
  content: "";
  display: table;
}
.logonav:after {
  clear: both;
}
.logonav .logo {
  float: left;
  height: 63px;
  width: 257px;
  vertical-align: middle;
  margin: 30px 0 50px;
}
.logonav .nav {
  *zoom: 1;
  float: right;
  margin-top: 50px;
}
.logonav .nav:after,
.logonav .nav:before {
  content: "";
  display: table;
}
.logonav .nav:after {
  clear: both;
}
.logonav .nav li {
  float: right;
  font-size: 18px;
  margin-right: 48px;
  color: #5f6261;
  position: relative;
  cursor: pointer;
}
.logonav .nav li:before {
  content: "";
  height: 5px;
  width: 8px;
  background: url("../images/下箭头_07.gif") no-repeat;
  display: inline-block;
  position: absolute;
  margin-left: -4px;
  left: 50%;
  top: 27px;
}
.logonav .nav li:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 30px;
  display: inline-block;
  top: 24px;
  margin-left: -38px;
  left: 50%;
}
.logonav .nav li:hover {
  color: #016cb4;
}
.logonav .nav li:hover .full {
  display: block;
}
.logonav .nav li:hover:before {
  display: none;
}
.logonav .nav li:first-child {
  margin-right: 33px;
}
.logonav .nav .full {
  position: absolute;
  padding-bottom: 10px;
  width: 155px;
  border: #DCDCDC solid 1px;
  border-radius: 10px;
  top: 50px;
  left: 50%;
  margin-left: -77px;
  background-color: #F5F5F5;
  display: none;
}
.logonav .nav .full:before {
  content: "";
  background: url("../images/上三角_11.gif");
  height: 15px;
  width: 30px;
  display: inline-block;
  position: absolute;
  left: 50%;
  margin-left: -16px;
  top: -15px;
}
.logonav .nav .full dt {
  font-size: 14px;
  text-align: center;
  color: #5f6261;
  width: 113px;
  border-radius: 5px;
  line-height: 30px;
  margin: 10px auto 0;
  position: relative;
  cursor: pointer;
  border: 1px solid transparent;
}
.logonav .nav .full dt:hover {
  border: 1px solid #DCDCDC;
  color: #016cb4;
}
.banner {
  height: 380px;
  display: block;
}
.banner img {
  max-width: 100%;
}
.title {
  font-size: 30px;
  text-align: center;
  margin-top: 50px;
}
.tit-ys {
  font-size: 30px;
  text-align: center;
  margin-top: 80px;
}
.tit-p {
  font-size: 12px;
  text-align: center;
  color: #969696;
  margin-top: 27px;
}
.product {
  height: 450px;
  background: linear-gradient(#ffffff, #DCDCDC);
  *zoom: 1;
}
.product:after,
.product:before {
  content: "";
  display: table;
}
.product:after {
  clear: both;
}
.product .pro {
  width: 998px;
  height: 200px;
  margin: 0 auto;
  margin-top: 60px;
  display: block;
  *zoom: 1;
}
.product .pro:after,
.product .pro:before {
  content: "";
  display: table;
}
.product .pro:after {
  clear: both;
}
.product .pro li {
  float: left;
  width: 150px;
  height: 150px;
  background-color: #ffffff;
  margin: 0 65px;
  border: solid 1px #F5F5F5;
}
.product .pro li img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
  margin-top: 13px;
}
.product .pro li:last-child {
  margin-right: 0;
}
.product .pro li:first-child {
  margin-left: 0;
}
.product .pro li p {
  font-size: 12px;
  color: #939393;
  text-align: center;
  margin-top: 11px;
}
.product .mid {
  width: 600px;
  height: 100px;
  background: url("../images/产品中间框_11.gif") no-repeat;
  background-size: contain;
  margin: 0 auto;
  margin-top: 15px;
  *zoom: 1;
}
.product .mid .p {
  font-size: 24px;
  padding: 15px 10px 5px 20px;
}
.product .mid .p-1 {
  font-size: 12px;
  padding: 0 10px 5px 20px;
  color: #939393;
}
.product .mid:after,
.product .mid:before {
  content: "";
  display: table;
}
.product .mid:after {
  clear: both;
}
.product .mid button {
  border: #DCDCDC solid 1px;
  background-color: #268ed6;
  font-size: 16px;
  color: #f4f4f4;
  border-radius: 8px;
  padding: 9px 22px 9px 43px;
  margin-top: -51px;
  margin-right: 20px;
  float: right;
  position: relative;
}
.product .mid button:before {
  content: "";
  position: absolute;
  background: url("../images/云_11.gif") no-repeat;
  width: 25px;
  height: 20px;
  display: inline-block;
  background-size: contain;
  left: 13px;
  top: 13px;
}
.pre {
  width: 800px;
  height: 206px;
  margin: 0 auto;
  margin-top: 60px;
  display: block;
  position: relative;
  *zoom: 1;
}
.pre:after,
.pre:before {
  content: "";
  display: table;
}
.pre:after {
  clear: both;
}
.pre li {
  float: left;
  height: 200px;
  width: 200px;
  box-shadow: 0 1px 2px 1px #DCDCDC;
  margin-right: 100px;
  position: relative;
}
.pre li:last-child {
  margin-right: 0;
}
.pre li img {
  height: 100px;
  width: 80px;
  display: block;
  margin: 0 auto;
}
.pre li p {
  text-align: center;
  color: #9a9a9a;
  font-size: 12px;
  width: 180px;
  margin-left: 10px;
  line-height: 20px;
}
.pre li .pre-p {
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 15px;
}
.pre li:before {
  content: "";
  position: absolute;
  background: url("../images/阴影_11.gif") no-repeat;
  background-size: cover;
  display: inline-block;
  width: 200px;
  height: 5px;
  top: 200px;
}
.pre:before {
  content: "";
  background: url("../images/优势箭头_11.gif");
  height: 35px;
  width: 35px;
  position: absolute;
  display: inline-block;
  background-size: cover;
  top: 230px;
  left: 382px;
}
.serve {
  width: 800px;
  height: 206px;
  margin: 0 auto;
  margin-top: 60px;
}
.serve li {
  float: left;
  height: 180px;
  width: 180px;
  box-shadow: 0 1px 2px 1px #DCDCDC;
  margin-right: 26px;
  position: relative;
}
.serve li:last-child {
  margin-right: 0;
}
.serve li img {
  width: 60px;
  height: 60px;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 50%;
}
.serve li p {
  text-align: center;
  color: #9a9a9a;
  font-size: 8px;
  width: 160px;
  margin-left: 10px;
  line-height: 18px;
}
.serve li .serve-p {
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 10px;
}
.serve li:before {
  content: "";
  position: absolute;
  background: url("../images/阴影_11.gif") no-repeat;
  background-size: cover;
  display: inline-block;
  width: 180px;
  height: 5px;
  top: 180px;
}
.serve li:hover {
  background-color: #1794d1;
}
.serve li:hover p {
  color: #F5F5F5;
}
.blueb {
  background-image: url("../images/蓝条_14.gif");
  height: 200px;
  background-size: cover;
  margin-top: 30px;
  margin-bottom: 30px;
  position: relative;
}
.blueb .circle {
  position: absolute;
  height: 240px;
  width: 240px;
  background-color: #ffffff;
  border-radius: 50%;
  top: -20px;
  left: 320px;
}
.blueb .circle p {
  font-size: 70px;
  font-weight: bold;
  color: red;
  text-align: center;
  line-height: 240px;
}
.blueb .set {
  color: #F5F5F5;
  position: absolute;
  margin-left: 45%;
  margin-top: 40px;
  line-height: 20px;
  font-size: 14px;
}
.blueb .set span {
  font-size: 17px;
  font-weight: bold;
}
.brand {
  height: 220px;
  width: 1300px;
  margin: 0 auto;
}
.brand .bra-tit {
  font-size: 16px;
  color: #525252;
  text-align: center;
  margin-top: 10px;
}
.brand .bra-nav {
  height: 140px;
}
.brand .bra-nav img {
  margin: 20px 8px 10px 8px;
}
.join {
  background: url("../images/绿色背景_16.gif") no-repeat;
  height: 550px;
  width: 100%;
  position: relative;
}
.join .jm {
  position: relative;
  width: 130px;
  height: 30px;
  font-size: 16px;
  background-color: #ffffff;
  border: #ffffff solid 1px;
  border-radius: 6px;
  margin: 0 auto;
  text-align: center;
  margin-top: -2px;
  padding-top: 5px;
}
.join .yuan {
  height: 210px;
  width: 880px;
  margin: 0 auto;
  margin-top: 140px;
  *zoom: 1;
}
.join .yuan:after,
.join .yuan:before {
  content: "";
  display: table;
}
.join .yuan:after {
  clear: both;
}
.join .yuan .yuan-1 {
  height: 210px;
  width: 210px;
  float: left;
  margin: 0 40px 0 40px;
  position: relative;
}
.join .yuan .yuan-1 img {
  height: 170px;
  width: 170px;
  border-radius: 50%;
  box-shadow: 0 0 10px 3px #DCDCDC inset;
  padding: 20px;
  background-color: #ffffff;
}
.join .yuan .yuan-1 .qp {
  content: "";
  width: 70px;
  height: 50px;
  background-size: contain;
  background-image: url("../images/灰色气泡_17.gif");
  position: absolute;
  display: inline-block;
  bottom: 210px;
  left: 70px;
  font-size: 12px;
  color: #F5F5F5;
  margin-top: 20px;
  line-height: 40px;
  text-align: center;
}
.join .yuan .yuan-1 .tubiao {
  position: absolute;
  background: url("../images/锁_11.gif") no-repeat;
  display: block;
  width: 40px;
  height: 60px;
  background-size: contain;
  margin-top: 20px;
  left: 50%;
  margin-left: -20px;
}
.join .yuan .yuan-1 .tubiao-1 {
  position: absolute;
  background: url("../images/锁2_32.gif") no-repeat;
  display: block;
  width: 35px;
  height: 55px;
  background-size: contain;
  margin-top: 20px;
  left: 50%;
  margin-left: -20px;
}
.join .yuan .yuan-1 .tubiao-2 {
  position: absolute;
  background: url("../images/电话_38.gif") no-repeat;
  display: block;
  width: 40px;
  height: 60px;
  background-size: contain;
  margin-top: 20px;
  left: 50%;
  margin-left: -20px;
}
.join .yuan .yuan-1 .phone {
  position: absolute;
  font-size: 10px;
  color: chartreuse;
  margin-top: 80px;
  left: 50%;
  margin-left: -66px;
}
.demo {
  width: 100%;
  height: 450px;
}
.demo .ppt {
  font-size: 16px;
  color: #5f6261;
  text-align: center;
  line-height: 50px;
}
.demo .red {
  height: 400px;
  width: 100%;
  background-color: orangered;
}
.demo .red .red-1 {
  width: 800px;
  height: 250px;
  margin: 0 auto;
  *zoom: 1;
}
.demo .red .red-1:after,
.demo .red .red-1:before {
  content: "";
  display: table;
}
.demo .red .red-1:after {
  clear: both;
}
.demo .red .red-1 .gar {
  height: 240px;
  width: 240px;
  float: left;
  margin: 0 80px 0 80px;
  position: relative;
  margin-top: 10px;
}
.demo .red .red-1 .gar img {
  height: 220px;
  width: 220px;
  border-radius: 50%;
  padding: 15px;
  background-color: #ffffff;
}
.demo .red .red-1 .gar .anniu {
  position: absolute;
  height: 60px;
  width: 80px;
  background: url("../images/客户_15.gif") no-repeat;
  background-size: contain;
  left: 50%;
  margin-left: -40px;
  top: -18px;
}
.demo .red .red-1 .gar .zx {
  position: absolute;
  background: url("../images/左箭头_19.gif") no-repeat;
  height: 50px;
  width: 70px;
  background-size: contain;
  font-size: 10px;
  color: #F5F5F5;
  text-align: center;
  line-height: 50px;
  left: 0;
  margin-top: 15px;
}
.demo .red .red-1 .gar .zx-1 {
  position: absolute;
  background: url("../images/右箭头_22.gif") no-repeat;
  height: 50px;
  width: 70px;
  background-size: contain;
  font-size: 10px;
  color: #F5F5F5;
  text-align: center;
  line-height: 50px;
  right: 0;
  margin-top: 15px;
}
.db {
  height: 70px;
  width: 100%;
  padding-top: 20px;
}
.db .db-1 {
  width: 600px;
  height: 70px;
  margin: 0 auto;
  color: #868686;
  font-size: 12px;
  *zoom: 1;
}
.db .db-1:after,
.db .db-1:before {
  content: "";
  display: table;
}
.db .db-1:after {
  clear: both;
}
.db .db-1 .p1 {
  float: left;
  width: 100px;
  margin-top: 50px;
  position: relative;
}
.db .db-1 .p1:before {
  content: "";
  height: 50px;
  width: 40px;
  position: absolute;
  background: url("../images/问题_11.gif") no-repeat;
  background-size: contain;
  display: inline-block;
  top: -40px;
  left: 4px;
}
.db .db-1 .p2 {
  width: 400px;
  margin: 0 auto;
  margin-top: 20px;
  float: left;
  position: relative;
}
.db .db-1 .p2 ul {
  width: 400px;
  *zoom: 1;
}
.db .db-1 .p2 ul:after,
.db .db-1 .p2 ul:before {
  content: "";
  display: table;
}
.db .db-1 .p2 ul:after {
  clear: both;
}
.db .db-1 .p2 ul li {
  float: left;
  border-right: 1px solid #939393;
  padding: 0 15px;
}
.db .db-1 .p2 ul li:last-child {
  border-right: none;
}
.db .db-1 .p2 .p2-1 {
  display: inline-block;
  position: absolute;
  top: 25px;
  left: 50px;
}
.db .db-1 .p3 {
  float: right;
  width: 100px;
  margin-top: 20px;
  text-align: right;
  position: relative;
}
.db .db-1 .p3:before {
  content: "";
  position: absolute;
  background: url("../images/加关注_14.gif") no-repeat;
  width: 60px;
  height: 30px;
  background-size: contain;
  display: inline-block;
  left: 105px;
  top: -2px;
}
.bor {
  width: 100%;
  height: 70px;
  box-shadow: 0 -4px 5px -1px #CDCDC1;
  background-color: #DEDEDE;
}
/*# sourceMappingURL=index.css.map */