@import "./reset";
@color-main: #016cb4;

.headtop {
  height: 190px;
  .user {
    height: 48px;
    background-color: #f4f4f4;
  }
}
//导航
.user-1 {
  width: 980px;
  margin: 0 auto;
  .clearfix;
  .userleft {
    float: left;
    font-size: 13px;
    color: #5d605f;
    line-height: 48px;
    .enter {
      margin-left: 25px;
      color: @color-main;
      position: relative;
        &:before {
          content: "";
          background-image: url("../images/用户登录_03.gif");
          height: 13px;
          width: 13px;
          margin: -31px 0 0 198px;
          position: absolute;
          display:block;
        }
    }
  }

  .userright {
    float: right;
    font-size: 13px;
    color: #939393;
    line-height: 48px;
    .like {
      margin-left: 29px;
      color: @color-main;
      position: relative;
      &:before {
        content: "";
        background-image: url("../images/立即申请_05.gif");
        height: 15px;
        width: 14px;
        position: absolute;
        margin: -31px 0 0 141px;
        display: inline-block;
      }
    }
  }
}
.logonav {
  width: 980px;
  margin: 0 auto;
  .clearfix;
  .logo {
    float: left;
    height: 63px;
    width: 257px;
    vertical-align:middle;
    margin: 30px 0 50px;
  }
  .nav {
    .clearfix;
    float: right;
    margin-top: 50px;
    li {
      float: right;
      font-size: 18px;
      margin-right: 48px;
      color: #5f6261;
      position: relative;
      cursor: pointer;
      &:before {
        content: "";
        height: 5px;
        width: 8px;
        background: url("../images/下箭头_07.gif") no-repeat;
        display: inline-block;
        position: absolute;
        margin-left: -4px;
        left: 50%;
        top: 27px;
      }
      &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 30px;
        display: inline-block;
        top: 24px;
        margin-left: -38px;
        left: 50%;
      }
      &:hover{
        color: @color-main;
        .full {
          display: block;
        }
        &:before{
          display:none;
        }
      }
      &:first-child {
        margin-right: 33px;
      }
    }
    .full {
      position: absolute;
      padding-bottom: 10px;
      width: 155px;
      border: #DCDCDC solid 1px;
      border-radius:10px;
      top: 50px;
      left: 50%;
      margin-left: -77px;
      background-color: #F5F5F5;
      display:none;
      &:before {
        content: "";
        background: url("../images/上三角_11.gif");
        height: 15px;
        width: 30px;
        display: inline-block;
        position: absolute;
        left: 50%;
        margin-left: -16px;
        top: -15px;

      }
      dt {
        font-size: 14px;
        text-align:center;
        color: #5f6261;
        width: 113px;
        border-radius: 5px;
        line-height: 30px;
        margin: 10px auto 0;
        position: relative;
        cursor: pointer;
        border: 1px solid transparent;

        &:hover {
          border: 1px solid #DCDCDC;
          color: @color-main;
        }
      }

    }
  }
}
.banner {
  height: 380px;
  display: block;
  img {
    max-width: 100%;
  }

}
.title {
  font-size: 30px;
  text-align:center;
  margin-top: 50px;
}
.tit-ys {
  font-size: 30px;
  text-align:center;
  margin-top: 80px;
}
.tit-p {
  font-size: 12px;
  text-align:center;
  color: #969696;
  margin-top: 27px;
}
//产品
.product {
  height: 450px;
  background: linear-gradient(#ffffff, #DCDCDC);
  .clearfix;
   .pro {
     width: 998px;
     height: 200px;
     margin: 0 auto;
     margin-top: 60px;
     display: block;
    .clearfix;
    li {
      float: left;
      width: 150px;
      height: 150px;
      background-color: #ffffff;
      margin:0 65px;
      border: solid 1px #F5F5F5;
      img {
        width: 100px;
        height: 100px;
        border-radius:50%;
        margin: 0 auto;
        display: block;
        margin-top: 13px;
      }
      &:last-child {
        margin-right: 0;
      }
      &:first-child {
        margin-left: 0;
      }
      p {
        font-size: 12px;
        color: #939393;
        text-align:center;
        margin-top: 11px;
      }
    }
  }
  .mid {
    width: 600px;
    height: 100px;
    background: url("../images/产品中间框_11.gif")  no-repeat;
    background-size: contain;
    margin: 0 auto;
    margin-top: 15px;
    .p {
      font-size: 24px;
      padding: 15px 10px 5px 20px;
    }
    .p-1 {
      font-size: 12px;
      padding: 0 10px 5px 20px;
      color: #939393;
    }
    .clearfix;
    button {
      border: #DCDCDC solid 1px;
      background-color: #268ed6;
      font-size: 16px;
      color: #f4f4f4;
      border-radius:8px;
      padding: 9px 22px 9px 43px;
      margin-top: -51px;
      margin-right: 20px;
      float: right;
      position: relative;
      &:before {
        content: "";
        position: absolute;
        background: url("../images/云_11.gif") no-repeat;
        width: 25px;
        height: 20px;
        display:inline-block;
        background-size: contain;
        left: 13px;
        top: 13px;
      }
    }
  }
}
//优势
.pre {
  width: 800px;
  height: 206px;
  margin: 0 auto;
  margin-top: 60px;
  display: block;
  position: relative;
  .clearfix;
  li {
    float: left;
    height: 200px;
    width: 200px;
    box-shadow: 0 1px 2px 1px #DCDCDC ;
    margin-right: 100px;
    position: relative;
    &:last-child {
      margin-right: 0;
    }
    img {
      height: 100px;
      width: 80px;
      display: block;
      margin: 0 auto;
    }

    p {
      text-align:center;
      color: #9a9a9a;
      font-size: 12px;
      width: 180px;
      margin-left: 10px;
      line-height: 20px;
    }
    .pre-p {
      font-size: 16px;
      margin-top: 5px;
      margin-bottom: 15px;
    }
    &:before {
      content: "";
      position: absolute;
      background: url("../images/阴影_11.gif") no-repeat;
      background-size: cover;
      display: inline-block;
      width: 200px;
      height: 5px;
      top: 200px;
    }
  }
  &:before {
    content: "";
    background: url("../images/优势箭头_11.gif");
    height: 35px;
    width: 35px;
    position: absolute;
    display: inline-block;
    background-size: cover;
    top: 230px;
    left: 382px;
  }
}
//服务
.serve {
  width: 800px;
  height: 206px;
  margin: 0 auto;
  margin-top: 60px;
  li {
    float: left;
    height: 180px;
    width: 180px;
    box-shadow: 0 1px 2px 1px #DCDCDC ;
    margin-right: 26px;
    position: relative;
    &:last-child {
      margin-right: 0;
    }
    img {
      width: 60px;
      height: 60px;
      display: block;
      margin: 0 auto;
      margin-top: 10px;
      border-radius:50%;
    }
    p {
      text-align:center;
      color: #9a9a9a;
      font-size: 8px;
      width: 160px;
      margin-left: 10px;
      line-height: 18px;
    }
    .serve-p {
      font-size: 14px;
      margin-top: 5px;
      margin-bottom: 10px;
    }
    &:before {
      content: "";
      position: absolute;
      background: url("../images/阴影_11.gif") no-repeat;
      background-size: cover;
      display: inline-block;
      width: 180px;
      height: 5px;
      top: 180px;
    }
    &:hover {
      background-color: #1794d1;
      p {
        color: #F5F5F5;
      }
    }
  }
}
//87
.blueb {
  background-image: url("../images/蓝条_14.gif");
  height: 200px;
  background-size: cover;
  margin-top: 30px;
  margin-bottom: 30px;
  position: relative;
  .circle {
    position: absolute;
    height: 240px;
    width: 240px;
    background-color: #ffffff;
    border-radius:50%;
    top: -20px;
    left: 320px;
    p {
      font-size: 70px;
      font-weight:bold;
      color: red;
      text-align:center;
      line-height: 240px;
    }
  }
  .set {
    color: #F5F5F5;
    position: absolute;
    margin-left: 45%;
    margin-top: 40px;
    line-height: 20px;
    font-size: 14px;
    span {
      font-size: 17px;
      font-weight:bold;
    }
  }
}
//品牌
.brand {
  height: 220px;
  width: 1300px;
  margin: 0 auto;
  .bra-tit {
    font-size: 16px;
    color: #525252;
    text-align:center;
    margin-top: 10px
  }
  .bra-nav {
    height: 140px;
    img {
      margin: 20px 8px 10px 8px;
    }
  }
}
//加盟合作
.join {
  background: url("../images/green_bg.gif") no-repeat;
  height: 550px;
  width: 100%;
  position: relative;
  .jm {
    position: relative;
    width: 130px;
    height: 30px;
    font-size: 16px;
    background-color: #ffffff;
    border: #ffffff solid 1px;
    border-radius:6px;
    margin: 0 auto;
    text-align: center;
    margin-top: -2px;
    padding-top: 5px;
  }
  .yuan {
    height: 210px;
    width: 880px;
    margin: 0 auto;
    margin-top: 140px;
    .clearfix;
    .yuan-1 {
      height: 210px;
      width: 210px;
      float: left;
      margin: 0 40px 0 40px;
      position: relative;
      img {
        height: 170px;
        width: 170px;
        border-radius: 50%;
        box-shadow: 0 0 10px 3px #DCDCDC inset;
        padding: 20px;
        background-color: #ffffff;
      }
      .qp {
        content: "";
        width: 70px;
        height: 50px;
        background-size: contain;
        background-image: url("../images/灰色气泡_17.gif");
        position: absolute;
        display: inline-block;
        bottom: 210px;
        left: 70px;
        font-size: 12px;
        color: #F5F5F5;
        margin-top: 20px;
        line-height: 40px;
        text-align: center;
      }
      .icon {
        position: absolute;
        display: block;
        width: 40px;
        height: 60px;
        background-size: contain;
        margin-top: 20px;
        left: 50%;
        margin-left: -20px;
        &.tubiao {
          background: url("../images/锁_11.gif") no-repeat;
          background-size: contain;
        }
        &.tubiao-1 {
          background: url("../images/锁2_32.gif") no-repeat;
          background-size: contain;
        }
        &.tubiao-2 {
          background: url("../images/电话_38.gif") no-repeat;
          background-size: contain;
        }
      }

      .phone {
        position: absolute;
        font-size: 10px;
        color: chartreuse;
        margin-top: 80px;
        left: 50%;
        margin-left: -66px;
      }
    }

  }
}
//PPT演示
.demo {
  width: 100%;
  height: 450px;
  .ppt {
    font-size: 16px;
    color: #5f6261;
    text-align: center;
    line-height: 50px;
  }
  .red {
    height: 400px;
    width: 100%;
    background-color: orangered;
    .red-1 {
      width: 800px;
      height: 250px;
      margin: 0 auto;
      .clearfix;
      .gar {
        height: 240px;
        width: 240px;
        float: left;
        margin: 10px 80px 0 80px;
        position: relative;
        img {
          height: 220px;
          width: 220px;
          border-radius: 50%;
          padding: 15px;
          background-color: #ffffff;
        }
        .anniu {
          position: absolute;
          height: 60px;
          width: 80px;
          background: url("../images/客户_15.gif") no-repeat;
          background-size: contain;
          left: 50%;
          margin-left: -40px;
          top:-18px;
        }
        .zx {
          position: absolute;
          background: url("../images/左箭头_19.gif") no-repeat;
          height: 50px;
          width: 70px;
          background-size: contain;
          font-size: 10px;
          color: #F5F5F5;
          text-align: center;
          line-height: 50px;
          left: 0;
          margin-top: 15px;
        }
        .zx-1 {
          position: absolute;
          background: url("../images/右箭头_22.gif") no-repeat;
          height: 50px;
          width: 70px;
          background-size: contain;
          font-size: 10px;
          color: #F5F5F5;
          text-align: center;
          line-height: 50px;
          right: 0;
          margin-top: 15px;
        }
      }
    }
  }
}
//底部
.db {
  height: 70px;
  width: 100%;
  padding-top: 20px;
  .db-1 {
    width: 600px;
    height: 70px;
    margin: 0 auto;
    color: #868686;
    font-size: 12px;
    .clearfix;
    .p1 {
      float: left;
      width: 100px;
      margin-top: 50px;
      position: relative;
      &:before {
        content: "";
        height: 50px;
        width: 40px;
        position: absolute;
        background: url("../images/问题_11.gif") no-repeat;
        background-size: contain;
        display: inline-block;
        top: -40px;
        left: 4px;
      }
    }
    .p2 {
      width: 400px;
      margin: 20px auto 0;
      float: left;
      position: relative;
      ul {
        width: 400px;
        .clearfix;
        li {
          float: left;
          border-right: 1px solid #939393 ;
          padding: 0 15px;
          &:last-child {
            border-right: none;
          }
        }
      }
      .p2-1 {
        text-align: center;
        margin-top: 8px;
      }
    }
    .p3 {
      float: right;
      width: 100px;
      margin-top: 20px;
      text-align: right;
      position: relative;
      &:before {
        content: "";
        position: absolute;
        background: url("../images/加关注_14.gif") no-repeat;
        width: 60px;
        height: 30px;
        background-size: contain;
        display: inline-block;
        left: 105px;
        top: -2px;
      }
    }
  }
}
.bor {
  width: 100%;
  height: 70px;
  box-shadow:0 -4px 5px -1px #CDCDC1;
  background-color: #DEDEDE;
}



// 我们的优势
.superiority {
  width: 100%;
  position: relative;
  overflow: hidden;
  &_nav {
    position: absolute;
    right: -20px;
    top: 40%;
    //transform: translateY(-50%);
    li {
      cursor: pointer;
      border-radius: 20px;
      line-height: 24px;
      padding: 0 30px 0 20px;
      color: #fff;
      margin-top: 10px;
      .rotate(-15deg);
      &:first-child {
        margin-top: 0;
      }
      &.green {
        background-color: green;
      }
      &.orange {
        background-color: orangered;
      }
      &.lightBlue {
        background-color: lightblue;
      }
      &.blue {
        background-color: cornflowerblue;
      }
      &.pink {
        background-color: pink;
      }
      &.red {
        background-color: red;
      }
    }
  }
}

// 广告
.ad {
  position: relative;
  background-color: #0d5292;
  .buttons {
    top: 0;
    display: inline-block;
    position: absolute;
    width: 80px;
    line-height: 295px;
    text-align: center;
    font-size: 30px;
    color: #fff;
    background-color: #0e2b47;
    &.left {
      left: 0;
    }
    &.right {
      right: 0;
    }
  }
  .content {
    height: 295px;
    width: 1000px;
    margin: 0 auto;
    background-image: url('../images/bg_01.gif');
    background-position: center 0;
  }
}